* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ul li {
    list-style: none;
}

* button {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    width: 100%;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    margin: 0 auto;
    background-image: url(../img/mobile-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 138px;

}

header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-top: 20px;
    margin-bottom: 30px;
}

.logo {
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.nav {
    display: flex;
    margin: 0 auto;
}

.nav-item {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 45%;
    padding: 12px;
    margin-bottom: 118px;
}

.nav-item:hover,
.nav-item:focus {
    border: 2px solid rgba(255, 255, 255, 1);
}

h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}

.undertext {
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}

.button1 {
    display: block;
    padding: 14px 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    margin: 0 auto;
    font-size: 14px;
    color: white;
}

section {
    padding-top: 66px;
    padding-bottom: 56px;
}

.partners {
    /* width: 274px; */
    padding: 0 32px;
    margin: 0 auto;
}

.top {
    /* display: inline-block; */
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
}

.list {
    margin: 0 auto;
}

.partner {
    text-align: center;
}

.image-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.image-wrapper::before  {
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon-1::before {
    content: url(../img/i11.png);
}

.icon-2::before {
    content: url(../img/ii2.png);
}

.icon-3::before {
    content: url(../img/ii3.png);
}

.icon-4::before {
    content: url(../img/ii4.png);
}

.image,
.icon   {
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-icon {
    position: absolute;
    /* border: 4px solid rgb(255, 255, 255);
   border-radius: 50%;
    background-color: rgb(255, 78, 80);
    width: 38px; */
    /* height: 38px; */
    right: 0;
    bottom: 0;
    transform: translate(20%, 20%);
}



.description {
    margin-bottom: 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button2 {
    display: block;
    padding: 14px 50px;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgb(255, 78, 80);
}

.name   {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}



@media  (min-width: 768px) and (max-width: 1199px)   {
    body {
        width: 100vw;
    }

    .wrapper    {
        height: 100vh;
        width: 100vw;
        /* background-color: rgb(255, 255, 255, 0.5); */
        background-image: url(../img/tablet.jpg);
    }

    header  {
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        padding: 42px 44px 0;
    }

    .main-logo  {
        padding-top: 12px;
    }

    .nav    {
        margin: 0;
    }

    .list   {
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center; */
        width: 492px;
    }

    .partner    {
        max-width: 236px;
        display: inline-block;
    }
}


@media  (min-width: 1200px)     {

    .wrapper    {
        background-image: url(../img/desktop-background.png);
        width: 100%;
        object-fit: cover;
        padding-bottom: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 940px;
        margin: 0 auto;
        padding-top: 40px;
    }

    .nav    {
        margin: 0;
        font-size: 14px;
    }

    h2 {
        font-size: 52px;
    }

    .undertext  {
        font-size: 24px;
        margin-bottom: 36px;
    }

    .top    {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .list   {
        display: flex;
        justify-content: space-between;
    }

    .partner {
        width: 222px;
    }
}


