$text-color-uppart: #ffffff;

$golden-color: rgb(252, 227, 138);
$red-color: rgb(243, 129, 129);
$blue-color: #95e1d3;

$font-title: 'Indie Flower', cursive;
$font-uptitle: 'Halant', serif;
$font-logo: 'Niconne', cursive;
$font-text: 'ZCOOL KuaiLe', cursive;
$font-article: 'Amatic SC', cursive;