* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
}

* ul li {
    list-style: none;
    font-size: 0;
}

* button {
    border: 0;
    margin: 0;
    padding: 0;
}