
@media  (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx)   {
    .items-1 {
        background-image: url(../../images/sprites/ALARM@2x.png);
    }
    
    .items-2 {
        background-image: url(../../images/sprites/LINEGRAPH@2x.png);
    }
    
    .items-3 {
        background-image: url(../../images/sprites/COMPUTEROK@2x.png);
    }
    
    .items-4 {
        background-image: url(../../images/sprites/BOOK2@2x.png);
    }
    
    .items-5 {
        background-image: url(../../images/sprites/HOME@2x.png);
    }
    
    .items-6 {
        background-image: url(../../images/sprites/IMAGE@2x.png);
    }
}