.wrapper__bg {
    background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: url(../images/sprites/igle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
