html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    /* margin-bottom: px; */
    height: 90px;
}

.head {
    width: 1110px;
    margin: 0 auto;
    display: block;
    padding: 38px 0;
}

.navigation li,
.logo {
    text-transform: uppercase;
}

.navigation a:hover,
.navigation a:focus {
    color: #29c0a3;
}

.logo {
    display: inline-block;
    margin-right: 500px;
    vertical-align: middle;
    font-size: 30px;
}

.logo::first-letter {
    color: #1abc9c;
}

.navigation {
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.navigation a {
    color: black;
    /* text-decoration: none; */
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navigation li {
    display: inline-block;
    margin-right: 35px;
}

.navigation li:last-child {
    margin-right: 0;
}

/* Slayder */

.slider {
    height: 600px;
    margin-bottom: 98px;
    background-image: url(../img/fon.png);
}
.slider-small   {
   position: relative;
   width: 1110px;
   height: 600px;
   margin: auto;

}

.slider-ctr {
    border: none;
    position: absolute;
    display: inline-block;
    background-color: rgb(26, 188, 156);
    width: 104px;
    height: 104px;
    top: 50%;
    transform: translateY(-50%);
}
.slider-ctr-prev    {
    left: 0;
}

.slider-ctr-sled  {
    right: 0;
}
.direction {
    margin-left: 30px;
}
.slider-text   {
    display: block;
    position: absolute;
    text-transform: uppercase;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.slider-head {
    font-size: 40px;
    margin-bottom: 30px;
}


/* Main */

main {
    width: 1110px;
    margin: 0 auto;
    display: block;
    padding: 38px 0;
}

h2 {
    display: block;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
    color: #515151;
}

.title1 {
    margin-bottom: 80px;
}

.title1::after {
    display: block;
    content: "";
    background-color: rgb(26, 188, 156);
    margin-left: 470px;
    width: 164px;
    height: 7px;
}

.blocks p {
    display: inline;
}

.all:hover p a {
    background-color: #1abc9c;
}

.all:hover .price {
    background-color: #7fd9c7;
}

.all {
    position: relative;
    width: 254px;
    height: 324px;
    /* display: inline-block; */
    float: left;
    margin: 0 30px 30px 0px;
    font-size: 0px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3)
}

.all:nth-child(4n) {
    margin-right: 0px;
}

.all:last-child {
    position: relative;
}

.to {
    height: 286px;
    width: 254px;
    background-size: contain;
}

p a {
    display: inline-block;
    text-transform: uppercase;
    background: #323232;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

p a:hover,
p a:focus {
    background-color: #1abc9c;
}

p.price {
    display: inline-block;
    background: #8c8c8c;
    height: 40px;
    width: 54px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 40px;
}

p.price:hover {
    background-color: #7fd9c7;
}


.overblock {
    position: absolute;
    width: 234px;
    height: 262px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transform: translate(10px, 12px);
    font-size: 16px;
    line-height: 1.5;
    padding-top: 80px;
    padding-right: 8px;
}

.all:hover .overblock {
    opacity: 0.549;
}

/* Poputka 2 */

.overblock-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    margin-left: 32px;
}

.overblock-list li {
    display: inline-block;
}

.overblock-list a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
}

.overblock-list a:hover {
    background: #1abc9c;
}

.icon-hurt {
    background-image: url(../img/hurt1.png);
    margin-right: 4px;
}

li .icon-hurt:hover {
    background-image: url(../img/hurt1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-strelka {
    background-image: url(../img/sterlka.png);
    margin-right: 4px;
}

li .icon-strelka:hover {
    background-image: url(../img/sterlka.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-time {
    background-image: url(../img/time1.png);
}

li .icon-time:hover {
    background-image: url(../img/time1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-korzina {
    background-image: url(../img/korzina.png);
}

li .icon-korzina:hover {
    background-color: rgb(50, 50, 50);
    background-repeat: no-repeat;
    background-image: url(../img/korzina.png);
    background-repeat: no-repeat;
    background-position: left;
}

li .icon-korzina {
    width: 166px;
    background-position: left;
    padding-left: 50px;
    padding-top: 14px;
    color: white;
}


/* .visually-hidden */


/* Footer */

/* footer  {
    display: block;
    background: #323232;
    height: 88px;
}
.footer-line    {
    display: block;
    padding: 0;
    font-size: 0;
    list-style: none;
    margin-left: 500px;
    padding-top: 34px;
}
.footer-line li {
    display: inline-block;
    font-size: 16px;
    color: white;
}

.link-dev   {
    margin-left: 6px;
    color: #46bfa9;
} */
/* Вот этот вариант мне кажется лучше */

footer  {
    position: relative;
    content: '';
    background: #323232;
    height: 88px;
}
.footer-line {
    position: absolute;
    content: '';
    padding: 0;
    margin: 0;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}
.footer-line li {
    display: inline-block;
    font-size: 16px;
    color: white;
}
.link-dev   {
    margin-left: 6px;
    color: #46bfa9;
}

