* {
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 102px;
    width: 576px;
    margin-left: 500px;
}

body {
    padding: 76px 0 0 0;
}

.list {
    padding: 75px 10px 75px 0px;
    text-align: center;
    /* width: 574px; */
    display: inline;
}

.list li {
    display: inline;
    margin: 10px 60px 10px 0px;
    /* position: center; невозможно указывать такое рассположение*/
    outline: none;
    font-family: "Myriad Pro-regular";
    font-size: 14px;
}

.list a {
    text-decoration: none;
    color: grey;
}

a:link {
    padding: 2px;
    color: greenyellow;
}
a:hover {
    background: rgb(230, 104, 104);
    color: rgb(43, 226, 58);
} 
/* нужно убирать пробел
 */
.first a {
    color: #9addfb;
}

/* Тело */
.wrapper {
    margin: 0px 95px 0px 250px;
}

main {
    width: 960px;
    height: 1702px;
    margin-bottom: 50px;
}

.blocks {
    width: 470px;
    height: 476px;
    float: left;
    margin-bottom: 135px;
}

img {
    margin-bottom: 30px;
}

.undtext {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 28px;
}

h2 {
    color: rgba(5, 2, 2, 0.685);
    margin-bottom: 30px;
}

.block2 {
    margin-left: 62px;
}

.block4 {
    margin-left: 62px;
}

.block6 {
    margin-left: 62px;
}

/* Футер */

/* Неправильно задавал границу.
footer {
    text-align: center;
    display: block;
    border-color: black;
    margin-right: 500px;
}

button {
    display: inline-block;
    width: 164px;
    height: 59px;
    background: white;
    text-align: center;
    border-color: black;
    margin: center;
    margin-right: 500px;
} */
button {
    margin: 0 0 71px 620px;
    padding: 30px 80px;
    background: white;
    border: 1px solid #1b1b1b;
}

.knopka {
    font-family: "Century Gothic";
    /* имена с пробелами должны быть с "" */
    font-size: 20px;
}
