* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
}

* ul li {
    list-style: none;
    font-size: 0;
}

* button {
    border: 0;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    /* margin-bottom: 126px; */
}

.page-header {
    max-width: 1200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 50px;
    margin: 0 auto;
}

h1 a {
    text-decoration: none;
    color: #95e1d3;
}

.head {
    display: flex;
    min-width: 490px;
    list-style: none;
    justify-content: space-between;
}

.top {
    display: flex;
}

ul .navigation {
    font-size: 0;
}

.navigation a {
    text-decoration: none;
    font-size: 14px;
    color: #a9e7db;
}


.navigation a:hover,
.navigation a:focus {
    color: #f38181;
    position: relative;
    /* transition: all 200ms linear; */
}


.navigation a:hover::after,
.navigation a:focus::after {
    content: '';
    background-color: rgb(243, 129, 129);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -12px;
    /* transition: all 200ms linear; */
}


/* main */

.main {
    /* margin-bottom: 88px; */
    padding-top: 126px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 102px;
}

h2 {
    font-size: 30px;
    position: relative;
}

h2::before {
    display: flex;
    content: 'We work with';
    align-items: flex-start;
    font-size: 24px;
    justify-content: center;
    margin-bottom: 24px;
    font-family: 'Indie Flower', cursive;
}

h2::after {
    content: '';
    position: absolute;
    background-color: rgb(243, 129, 129);
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    width: 60px;
    height: 3px;

}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    justify-content: space-between;
    /* min-height: 248px; */
}

.list-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 12px;
    list-style-type: none;
    max-width: 392px;
    margin-bottom: 40px;
}

.items-1 {
    background-image: url(../img/icons/ALARM.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
}

.tekst {
    margin-left: 80px;
}

.items-2 {
    background-image: url(../img/icons/LINE\ GRAPH.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
}

.items-3 {
    background-image: url(../img/icons/COMPUTER\ _\ OK.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
}

.items-4 {
    background-image: url(../img/icons/BOOK\ 2.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
}

.items-5 {
    background-image: url(../img/icons/HOME.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
}

.items-6 {
    background-image: url(../img/icons/IMAGE.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
}

/* Seconmain */

.secondmain {
    /* display: flex; */
    padding-top: 88px;
    margin-bottom: 92px;
}



.two::before {
    display: flex;
    content: 'Who we are';
    align-items: flex-start;
    font-size: 24px;
    justify-content: center;
    margin-bottom: 24px;
    font-family: 'Indie Flower', cursive;
}

.secondname-text {
    margin: 0 auto;
}

/* Cards */

/* .peoples    {
    display: flex;
    font-size: 0;
    margin: 0;
    padding: 0;
    justify-content: space-between;

} */

/* ul .peoples-card    {
    
    font-size: 14px;
    justify-content: space-between;
}
ul img  {
    position: relative;
    min-width: 380px;
    min-height: 470px;
} */

/* .overblock  {
    min-width: 380px;
    min-height: 470px;
    background-color: #95e1d3;
    opacity: 0;
} */

/* ul img::before  {
    position: absolute;
    min-width: 380px;
    min-height: 470px;
    background-color: #95e1d3;
} */

.section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 84px;
}

.article {
    flex-basis: 380px;
}

.image-wrapper {
    height: 470px;
    position: relative;
    transform: translate(0);
    box-shadow: 0 0 0 0 #95e1d3;
    transition: transform 0.2s linear,
        box-shadow 0.2s linear;
    margin-bottom: 30px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: -moz-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.image-wrapper:hover::after,
.image-wrapper:focus::after {
    opacity: 0.9;
}

.image-wrapper:hover,
.image-wrapper:focus {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0 #95e1d3;
}

.image-wrapper:hover .socials,
.image-wrapper:focus .socials {
    opacity: 1;
}

.socials {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s linear;
    z-index: 2;
}

.socials-list {
    display: flex;
    list-style: none;
}

.socials-items {
    position: relative;
}

.icon {
    display: block;
    width: 55px;
    height: 55px;
    padding: 10px;
    /* background-image: url(./img/socials/facebook.png); */
    background-color: yellow;
    transition: background-color 0.2s linear;
    border: 1px solid rgba(243, 129, 129, 0.5);
    margin: 0 auto;
}

.icon:hover,
.icon:focus {
    background-color: lightblue;
}

.icon img {
    display: block;
    /* width: 100%;
    height: 100%; */
    fill: coral;
    margin: 0 auto;
    object-fit: initial;
}

.article-title,
.article-category {
    text-align: center;
}

.article-title {
    text-transform: uppercase;
    margin-bottom: 14px;
}

.article-category {
    font-family: 'Amatic SC', cursive;
}



/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 62px;
    border-top: 1px solid rgb(229, 229, 229);
}

.rights {
    margin-left: 16px;
}

.rights a {
    text-decoration: none;
    margin-left: 5px;
    color: #f6a6a6;
}

input {
    margin: 0px;
    padding: 0;
    font-size: 0;
}

.subscribe {
    height: 100%;
    /* width: 100%;  ВОТ тут прикол, на ейдеже норм пашет, а на хроме ломается. Почему????*/
    flex-basis: 152px;
    background: #95e1d3;
    border: 1px solid #95e1d3;
    font-size: 14px;
    color: white;
}

.fill-form-block {
    flex-basis: 380px;
}

.fill-form {
    display: flex;
    height: 40px;
    flex-basis: 380px;
}

.email {
    font-size: 14px;
    flex-basis: 228px;
    border-width: 1px;
    border-color: rgba(229, 229, 229, 0.5);
    padding-left: 10px;
}