html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

header {
    margin-bottom: 114px;
}

.head {
    display: block;
    padding: 38px 0;
}

.navigation li,
.logo {
    text-transform: uppercase;
}

.navigation a:hover,
.navigation a:focus {
    color: #29c0a3;
}

.logo {
    display: inline-block;
    margin-right: 500px;
    vertical-align: middle;
    font-size: 30px;
}

.logo::first-letter {
    color: #1abc9c;
}

.navigation {
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.navigation a {
    color: black;
    /* text-decoration: none; */
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ul li {
    text-align: right;
    display: inline;
} */
.navigation li {
    display: inline-block;
    margin-right: 35px;
}

.navigation li:last-child {
    margin-right: 0;
}

/* Main structure */

/* Я использовал clearfix выше */
/* .main   {
    height: auto;
    overflow: hidden;
} */
h2 {
    display: block;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 130px;
    color: #515151;
}

h2::after {
    display: block;
    content: "";
    background-color: rgb(26, 188, 156);
    /* position: absolute; */
    margin-left: 470px;
    width: 164px;
    height: 7px;
    margin-top: 34px;
    /* Не смог подругому отодвинуть полоску. Уточнить еще решения??? */
}

/* h2::after {
    display: block;
    position:absolute;
    content: '';
    width: 50px;
    height: 2px;
    border: 1px solid green;
} НЕ СРАБОТАЛО  */
/* .line   {
    margin-bottom: 93px;
    /* position: absolute; разобратся с тем что это такое  */


/*
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 735px;
  top: 230px;
  width: 164px;
  height: 7px;
} это с фотошопа
 */
.blocks {
    display: block;
    height: auto;
    overflow: hidden;
    margin-bottom: 96px;
    /* нужно не забывать указывать значения иначе схлопываеться блок*/
}

.blocks p {
    display: inline;
}

.all:hover p a  {
    background-color: #1abc9c;
}
.all:hover .price   {
    background-color: #7fd9c7;
}
.all {
    width: 255px;
    height: 321px;
    float: left;
    margin: 0 30px 30px 0px;
    font-size: 0px;
}

.all:nth-child(4n) {
    margin-right: 0px;
}

.all:last-child {
    position: relative;
}

.to {
    height: 282px;
    width: 255px;
}

p a {
    display: inline-block;
    text-transform: uppercase;
    background: #323232;
    color: white;
    /* padding-right: 100px; */
    height: 40px;
    width: 200px;
    /* padding-left: auto; */
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

p a:hover,
p a:focus {
    background-color: #1abc9c;
}

p.price {
    display: inline-block;
    background: #8c8c8c;
    height: 40px;
    width: 54px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 40px;
}

p.price:hover {
    background-color: #7fd9c7;
}

/* END */
footer {
    display: block;
}

.niz {
    margin-bottom: 112px;
}
.dno1,
.dno2,
.dno3 {
    /* display: inline-block; */
    float: left;
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
}

.dno1 {
    margin-left: 0px;
}

.dno3 {
    margin-right: 0px;
}

.foot-img {
    margin-bottom: 14px;
}

h3 {
    font-size: 18px;
    margin-bottom: 46px;
}

h3::after {
    display: block;
    content: '';
    background-color: rgb(78, 198, 171);
    left: 642px;
    top: 1592px;
    width: 136px;
    height: 3px;
    margin-top: 14px;
}

.last {
    font-size: 16px;
    margin-bottom: 16px;
}

.bottom {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #4ec6ab;
    height: 50px;
    width: 160px;
    }

.knopki {
    height: 50px;
    width: 160px;
    border: 1px solid #4ec6ab;
    background-color: #4ec6ab;
    font-size: 18px;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding-top: 14px;
    color: white;
    margin: 0 auto 82px;
}

.last-link  {
    text-decoration: none;
    color: white;
}
.knopki:hover    {
    background: rgb(20, 60, 172);
}